# Virtual environment directories
.venv/
env/
venv/
fastapi-env/
env/

WARP.md

# Python cache files
**/__pycache__/
*.py[cod]

feature_requirements.txt

.env
!.env.example

# Editor and IDE settings
.vscode/
.idea/
*.swp

# Logs and temp files
*.log
*.db

# Test and coverage files
.tox/
.coverage
coverage.xml
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db

*.sql